<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; 
      style-src-elem 'self' 'unsafe-inline'; style-src-attr 'self'; font-src 
      'self'">
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noarchive">
{% if page.font_key %}
  <link rel="preload" href="{{ site.baseurl }}/assets/FSung-{{ page.font_key }}.woff2" as="font" type="font/woff2" crossorigin>
  <style>
    @font-face {
      font-family: 'FSung';
      src: url('{{ site.baseurl }}/assets/FSung-{{ page.font_key }}.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
  </style>
{% endif %}
    <link rel="stylesheet" href="{{ "/assets/css/main.css?v=" | append: site.github.build_revision | relative_url }}">
{% seo %}
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <nav class="text-right text-gray">
        <a href="/HuangSupplement/">HuangSupplement</a> | <a href="https://github.com/t18d/HuangSupplement/wiki">Docs</a>
      </nav>

      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <footer class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. <a href="{{ site.github.repository_url }}/edit/main/{{ page.edit_path }}">Improve this page</a>.
      </footer>
      {% endif %}
    </div>
  </body>
</html>
